*{
    margin: 0;
    padding: 0;
}

#cabeçalho{
    background-color: #000000;
}

.titulo-cabeçalho{
    color: #00FF11;
    padding: 1% 0 0 2%
}

.subtitulo-cabeçalho{
    color: #00FF11;
    padding: 0 0 0 1.25%;
}

.cabeçalho-lista{
    font: bold;
    text-align: right;
    padding-right: 1%;
}

.cabeçalho-item{
    display: inline;
    margin: 0 1% 0 0;
    font-size: 24px;
}

a {
    color: #00FF11;
}

a:hover{
    color: #FFFFFF;
}

body{
    background-image: url(fundo.png);
}

.fundo-texto-motivos{
    background: #00000091;
    height: 70%;
    width: 70%;
    margin: 15%

}

.titulo-motivo{
    color: #FFFFFF;
    font-size: 42px;
    padding: 2%;
    text-align: center;
}

.texto-motivo{
    padding: 2%;
    color: #FFFFFF;
    font-size: 36px;
    font: bold;
    text-align: center;
}

.fundo-consequencias{
    background-color: #000000;
}

.titulo-consequencias{
    padding: 2%;
    color: #00FF11;
    font-size: 64px;
    font: bolder;
    text-align: center;
}

.na-cidade{
    padding: 3%;
    text-align: center;
    font-size: 32px;
    color: #00FF11
}

.topico-na-cidade{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}

.no-campo{
    padding: 3%;
    text-align: center;
    font-size: 32px;
    color: #00FF11
}

.topico-no-campo{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}

.topico-no-campo-ultimo{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    padding-bottom: 2%;
}

#botao{
    text-align: center;
}

.fundo-botao{
    background-color: #FFFFFF;
}

.titulo-botao{
    color: #000000;
    font-size: 64px;
    text-align: center;
    padding: 2%;
}

.botao{
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    width: 350px;
    height: 350px;
    font-size: 50px;  
    margin: 5%;  
}

.botao:hover{
    background-color: #00FF11;
}

.rodapé{
    padding: 1%;
    font-size: 24px;
    text-align: center;
    color:#00FF11;
    height: 70px;
    background-color:#000000;
}

.volta{
    padding: 1%;
    font-size: 30px;
    display: inline;
    color: white;
    text-align: center;
}


.volta:hover {
    color: #00FF11 ;
}

