*{
    margin: 0;
    padding: 0;
}

#cabeçalho{
    background-color: #000000;
}

.titulo-cabeçalho{
    color: #00FF11;
    padding: 1% 0 0 2%
}

.subtitulo-cabeçalho{
    color: #00FF11;
    padding: 0 0 0 1.25%;
}

.cabeçalho-lista{
    font: bold;
    text-align: right;
    padding-right: 1%;
}

.cabeçalho-item{
    display: inline;
    margin: 0 1% 0 0;
    font-size: 24px;
}

a {
    color: #00FF11;
}

a:hover{
    color: #FFFFFF;
}

body{
    background-image: url(fundo.png);
    background-size: cover;
}

.fundo-texto-motivos{
    background: #00000091;
    height: 80%;
    width: 80%;
    margin: 25%;

}

.titulo-motivo{
    color: #FFFFFF;
    font-size: 42px;
    padding: 2%;
    text-align: center;
}

.texto-motivo{
    padding: 2%;
    color: #FFFFFF;
    font-size: 36px;
    font: bold;
    text-align: center;
}

.fundo-consequencias{
    background-color: #000000;
}

.titulo-consequencias{
    padding: 2%;
    color: #00FF11;
    font-size: 64px;
    font: bolder;
    text-align: center;
}

.na-cidade{
    padding: 4% 2% 2% 2%;
    text-align: left;
    font-size: 32px;
    color: #00FF11
}

.topico-na-cidade{
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}