*{
    margin: 0;
    padding: 0;
}

#cabeçalho{
    background-color: #000000;
}

.titulo-cabeçalho{
    color: #00FF11;
    padding: 1% 0 0 2%
}

.subtitulo-cabeçalho{
    color: #00FF11;
    padding: 0 0 0 1.25%;
}

.cabeçalho-lista{

}

.cabeçalho-item{
    display: inline;
    text-align: right;
    margin: 0 0.5% 0 0;
    font-size: 24px;
    color: #00FF11;
}

.cabeçalho-item:hover{
    color: #FFFFFF;
}